@using Stockly.Services
@inject AuthorizationService Authorization
@inject NavigationManager Navigation

@if (!Authorization.CanAccessPage(PageName))
{
    <div class="d-flex justify-center align-center" style="height: 80vh;">
        <MudCard Class="pa-4">
            <MudCardContent>
                <MudText Typo="Typo.h5" Class="text-center mb-4">Access Denied</MudText>
                <MudText Typo="Typo.body1" Class="text-center mb-4">
                    You don't have permission to access this page.
                </MudText>
                <MudButton Variant="Variant.Filled" 
                          Color="Color.Primary" 
                          FullWidth="true"
                          OnClick="GoToHome">
                    Go to Home
                </MudButton>
            </MudCardContent>
        </MudCard>
    </div>
}
else
{
    @ChildContent
}

@code {
    [Parameter]
    public string PageName { get; set; } = "";

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    
    private void GoToHome()
    {
        Navigation.NavigateTo("/");
    }
} 