@if (!UserState.IsAuthenticated)
{
    <div class="d-flex justify-center align-center" style="height: 80vh;">
        <MudCard Class="pa-4">
            <MudCardContent>
                <MudText Typo="Typo.h5" Class="text-center mb-4">Access Denied</MudText>
                <MudText Typo="Typo.body1" Class="text-center mb-4">
                    @(UserState.IsAuthenticated ? 
                        "You don't have permission to access this page." : 
                        "Please log in to access this page.")
                </MudText>
                <MudButton Variant="Variant.Filled" 
                           Color="Color.Primary" 
                           FullWidth="true"
                           OnClick="GoToHome">
                    Go to @(UserState.IsAuthenticated ? "Home" : "Login")
                </MudButton>
            </MudCardContent>
        </MudCard>
    </div>
}
else
{
    @ChildContent
}